.article {
  /* width: 70%; */
  padding: 3vh;
  margin: 0 auto;
  background-color: #fff;
}
.articleFooter {
  height: 5vh;
}
.navTitle {
  text-align: center;
  color: #888;
  /* border-bottom: 1px solid rgb(30, 144, 255); */
  font-size: 1rem;
}
.mulu {
  position: relative;
  width: 20vh;
  right: 30px;
  /* top: 80px; */
}
